body {
    background-color:lightblue
}

h1 {
    margin-top: 50px;
    text-align: center;
}

.label {
    margin-top: 50px;
    text-align: center;
}

.container-fluid {
    margin-top: 50px;
   text-align: center;
   background-color:burlywood;
}

#back {
    margin-top: 50px;
    text-align: center;
}